.botao {
    border: none;
    background: #b3a2ff;
    margin: 0 10px;
    cursor: pointer;
    transition: all 300ms;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    animation: pulse 10s cubic-bezier(0.3, 0.95, 0, 0.97) infinite;
}

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 2px 7px;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    25% {
        -webkit-transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

.botao-projetos {
    position: absolute;
    top: -10px;
    right: 15px;
    padding: 2px 7px;
}

.botao-sobre {
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 5px;
    animation: none;
}

.separator {
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    transform: rotate(90deg) translateY(-2px);
    pointer-events: none;
}

.botao p {
    color: #ffffff;
    pointer-events: none;
}

.flechas {
    width: 19px;
    height: 13px;
    position: relative;

    pointer-events: none;
}

.flechas::before {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    width: 7px;
    transform: translateX(-8px) translateY(6px) rotate(-40deg);
    right: 0;
    top: 0;

    pointer-events: none;
}

.flechas::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    width: 7px;
    transform: translateX(-3px) translateY(6px) rotate(40deg);
    right: 0;
    top: 0;
    pointer-events: none;
}

.flechas-open::before {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    width: 7px;
    transform: translateX(-6px) translateY(6px) rotate(40deg);

    pointer-events: none;
}

.flechas-open::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    width: 7px;
    transform: translateX(-2px) translateY(6px) rotate(-40deg);

    pointer-events: none;
}

@media (max-width: 820px) {
    .botao {
        font-size: 10px;
    }

    .botao-sobre {
        font-size: 16px;
    }
}