.img-certificado {
    max-width: 1111px;
    width: 90%;
    border-radius: 5px;
}

.div-certificado {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: none;
}

.p-certificado {
    margin-left: 20px;
    margin-bottom: 5px;
    align-self: flex-start;
    font-weight: bold;
    font-size: 20px;
}

@media (min-width: 820px) {
    .titulo-certificado {
        margin-left: 10px;
        margin-bottom: 0px;
    }
}

.lupa {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    border: solid 2px #464646;
    background-size: 700%;
    background-position: center;
    pointer-events: none;
    display: none;
}
