.container-contato {
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo-contato {
    color: #b3a2ff;
    margin-left: 10px;
    margin-bottom: 10px;
}

.input, .text-area {
    margin: 0 30px;
    background: #2a2a2a;
    border: none;
    border-bottom: solid 2px #373737;
    color: #fff;
    padding: 3px 20px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.text-area {
    height: 80px;
    resize: none;
}

.input::placeholder, .text-area::placeholder {
    color: #575757;
}

.button {
    border: none;
    background: #b3a2ff;
    margin: 0 10px;
    cursor: pointer;
    transition: all 300ms;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 50px;
}

.text-contato {
    padding: 0 15px;
    margin-bottom: 60px;
    text-align: justify;
    font-size: 14px;
}

.link-instagram {
    font-weight: bold;
    color: #b3a2ff;
}

.loading-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #2a2a2a;

    /* opacity: 0; */
    
    z-index: 70;
}

@keyframes spin-pulse {
    0% {
        -webkit-transform: scale(50%);
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: scale(25%);
        -webkit-transform: rotate(45deg);
    }

    50% {
        -webkit-transform: scale(75%);
    }

    100% {
        -webkit-transform: scale(0%);
    }
}

.loading-form svg {
    font-size: 50px;
    fill: #b3a2ff;
    
    margin-bottom: 5px;
    animation: spin-pulse 1s infinite;
}

@media (min-width: 820px) {
    .text-contato {
        font-size: 16px;
        text-align: center;
        margin: 0 200px;
        margin-bottom: 50px;
    }
}