.container-contato {
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo-contato {
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
}

.input, .text-area {
    margin: 5px 10px;
    background: #2a2a2a;
    border: 1px solid transparent;
    border-bottom: solid 2px #373737;
    border-radius: 5px;
    color: #fff;
    padding: 7px 20px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease;
}

.input:focus, .text-area:focus {
    border-right: 1px solid #b3a2ff50;
    border-left: solid 1px #b3a2ff52;
    border-bottom: solid 2px #b3a2ff34;
    background-color: #373737;
}

.text-area {
    height: 80px;
    resize: none;
}

.input::placeholder, .text-area::placeholder {
    color: #575757;
    transition: 0.3s ease;
}

.input:hover::placeholder, .text-area:hover::placeholder {
    letter-spacing: 1px;
    color: #575757;
}

.input:focus::placeholder, .text-area:focus::placeholder {
    letter-spacing: 0px;
}

.input:-webkit-autofill
.input:-webkit-autofill:hover
.input:-webkit-autofill:focus
.text-area:-webkit-autofill
.text-area:-webkit-autofill:hover
.text-area:-webkit-autofill:focus {
    border: solid 1px transparent;
    border-bottom: solid 1px #373737;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #2a2a2a inset 
}

.button {
    border: none;
    background: #b3a2ff;
    margin: 0 10px;
    cursor: pointer;
    transition: all 300ms;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 25px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 50px;
}

.text-contato {
    padding: 0 15px;
    margin-bottom: 60px;
    text-align: justify;
    font-size: 14px;
}

.link-instagram {
    font-weight: bold;
    color: #b3a2ff;
}

.loading-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #2a2a2a;

    /* opacity: 0; */
    
    z-index: 70;
}

@keyframes spin-pulse {
    0% {
        -webkit-transform: scale(50%);
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: scale(25%);
        -webkit-transform: rotate(45deg);
    }

    50% {
        -webkit-transform: scale(75%);
    }

    100% {
        -webkit-transform: scale(0%);
    }
}

.loading-form svg {
    font-size: 50px;
    fill: #b3a2ff;
    
    margin-bottom: 5px;
    animation: spin-pulse 1s infinite;
}

@media (min-width: 820px) {
    .text-contato {
        font-size: 16px;
        text-align: center;
        margin: 0 50px;
        margin-bottom: 50px;
    }

    .container-contato {
        margin: 20px 130px 0;
    }
}