.nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: calc(100vh + 50px);
    top: -50px;
    justify-content: center;
    align-items: center;
    /* background-color: #202024; */
    background-color: #2a2a2a;
    transform: translateY(-900px);
    transition: all 600ms ease;
    z-index: 100;

    touch-action: none;
}

.nav a {
    font-size: 30px;
    text-decoration: none;
    color: #e1e1e6;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    letter-spacing: 20px;
    font-weight: bold;
    /* background-color: #222226; */
    background-color: #2f2f2f;
    height: 90px;
    transition: all 0.1s;
}

@media (min-width: 600px) {
    .nav a:hover {
        font-size: 34px;
        letter-spacing: 25px;
    }
}