.nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: calc(100vh + 50px);
    top: -50px;
    justify-content: center;
    /* background-color: #202024; */
    background-color: #2a2a2a;
    transform: translateY(-1000px);
    transition: all 600ms ease;
    z-index: 100;
    touch-action: none;
}

.nav a {
    font-size: 30px;
    text-decoration: none;
    color: #e1e1e6;
    width: 100%;
    text-align: center;
    margin-left: 100px;
    letter-spacing: 10px;
    font-weight: bold;
    /* background-color: #222226; */
    /* background-color: #2f2f2f; */
    height: 90px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    max-width: 500px;
}

@media (max-width: 600px) {
    .nav a {
        margin-left: 25px;
    }
}

@media (min-width: 820px) {
    .nav {
        flex-direction: row;
        position: static;
        width: initial;
        height: initial;
        background-color: initial;
        transform: initial !important;

        gap: 30px;
        margin-right: 50px;
    }

    .nav > a {
        font-size: 14px;
        margin: 0;
        letter-spacing: 2px;
        height: 30px;
    }

    .nav > a:hover {
        color: #b3a2ff;
        font-weight: bold;
    }
}

@media (min-width: 1000px) {
    .nav {
        margin-right: 200px;
    }
}