.galeria-bloco {
    max-width: 730px;
    width: 100%;
    overflow: hidden;
    /* height: 530px; */
    /* margin-top: 30px; */
    /* border-radius: 10px; */
}

.on-titulo {
    display: block;
}

.off-titulo {
    display: none;
}

.galeria {
    display: flex;
    transition: transform 1s;
    position: relative;
    gap: 20px;
}

@media (max-width: 1310px) {
    .galeria-bloco {
        width: initial;
        overflow: initial;
        max-width: initial;
    }

    .galeria {
        gap: 10px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}