.container-redes-sociais {
    position: fixed;
    bottom: 5px;
    left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 60;
}

.img-redes-sociais {
    width: 35px;
    border-radius: 4px;
}

.link-redes-socias {
    display: flex;
    border-radius: 6px;
    background: #ffffff;
}

@media (min-width: 820px) {
    .container-redes-sociais {
        left: 50px;
    }
}

@media (min-width: 1000px) {
    .container-redes-sociais {
        left: 200px;
    }
}