.container-sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 50px;
}

.apresentacao {
    font-size: 22px;
    text-align: center;
    padding: 0 15px;
    color: #fff;
}

.bold {
    font-weight: 500;
}

.small {
    font-size: 16px;
}

.small::after {
    content: "|";
    margin-left: 8px;
    opacity: 1;
    animation: anima 1s cubic-bezier(0.68, -0.39, 0.58, 1) infinite;
    color: #b3a2ff;
}

@keyframes anima{
    from {opacity: 0%}
    to {opacity: 100%}
 }

.richard {
    color: #b3a2ff;
}

.front-end {
    font-weight: bold;
}