.container-sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0;
    gap: 35px;
}

.container-skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
    gap: 10px;
}

.titulo-skills {
    color: #b3a2ff;
}

.habilidades {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.habilidade-item {
    color: #fff;
    padding: 2px 10px;
    border: solid 1px #373737;
    background: #373737;
    border-radius: 3px;
    font-size: 12px;
}

.apresentacao {
    font-size: 22px;
    text-align: center;
    padding: 0 15px;
    color: #fff;
}

.bold {
    font-weight: 500;
}

.small {
    font-size: 16px;
}

.small::after {
    content: "|";
    margin-left: 8px;
    opacity: 1;
    animation: cursor 1s cubic-bezier(0.68, -0.39, 0.58, 1) infinite;
    color: #b3a2ff;
}

@keyframes cursor{
    from {opacity: 0%}
    to {opacity: 100%}
 }

.richard {
    color: #b3a2ff;
}

.front-end {
    font-weight: bold;
}

@media (min-width: 820px) {
    .container-sobre {
        margin: 30px 50px;
    }
}

@media (min-width: 1000px) {
    .container-sobre {
        margin: 30px 200px;
    }
}